<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977052981331-go2hvgjo5lutld1clprb2qvkja9bbtmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977052981331-go2hvgjo5lutld1clprb2qvkja9bbtmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977052981331-i62h2bnc4od7hp4njfvqisamqos082fu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZrBgxbRSqfrz8RISs5RI2fGAxiyX2Z-c</string>
	<key>GCM_SENDER_ID</key>
	<string>977052981331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.valentine</string>
	<key>PROJECT_ID</key>
	<string>lastdance-af8a4</string>
	<key>STORAGE_BUCKET</key>
	<string>lastdance-af8a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977052981331:ios:249cb9dc05365b99c5cea6</string>
</dict>
</plist>